ion-img{
    width: auto !important;
    height: 15px !important;
}
// fondo degradado
ion-card{
    background: linear-gradient(90deg, #262835 0%, #373947 100%) !important;
    padding: 2% !important;
    margin: 0% !important;
}
