<ion-content>
    <ion-icon name="arrow-back-outline" routerLink="" class="back" size="large"></ion-icon>
    <app-publicard name="EndGame"></app-publicard>
    <br>
    <ion-grid>
        <ion-row>
            <ion-col size="5"><ion-img src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Avengers_endgame_logo.png" style="width: 150%;"></ion-img></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                <div id="botones">
                     <ion-icon name="play"></ion-icon> <p>PLAY</p>
                </div>
            </ion-col>
            <ion-col size="3" class="juntos">
                <ion-icon name="add" class="redondeado"></ion-icon>
            </ion-col>
            <ion-col size="3">
                <ion-icon name="download" class="redondeado"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <p class="textSmall"> 
                  <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/E0F0F2632C94B4DFE3708B15D515B881B46F1FCEB43390C4B8279B1ED850ED9F/scale?width=40" class="imgSmAdd">
                  <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/FAE63AC7AC11C27C949E1856CF188BF09FC20EA52AEA3B65B43C24EEB5F29BFD/scale?width=40" class="imgSmAdd">
                  <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/8202544F8D5D19F890E9C9203A4BC079942B8917DF3205A60603D88F42A1427B/scale?width=240" class="imgSmAdd">
                  <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/FD4912EB883B7CCB847EB9C62E1FC853D547CAF7DF940B9086AE35AFAD0848AB/scale?width=240" class="imgSmAdd"></p>
                <p class="textSmall">2019 · 3h 5 min </p>
                <p class="text">En esta épica conclusión de la saga Infinity, un fenómeno mundial aclamado por la crítica, los Vengadores se enfrentan a Thanos. Tras los devastadores acontecimientos que aniquilaron a la mitad de la población mundial y diezmaron sus filas, los héroes que quedan luchan por seguir adelante, pero deben unirse para restaurar el orden y la armonía en el universo y recuperar a sus seres queridos.</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5" style="margin: 0%;">
                <p class="ttabs"> SUGERENCIAS </p>
            </ion-col>
            <ion-col size="3">
                <p class="ttabs"> EXTRAS </p>
            </ion-col>
            <ion-col size="4">
                <p class="ttabs"> DETALLES </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-slides>
                    <ion-slide>
                    <ion-grid style="padding: 0%;">
                        <ion-row>
                            <ion-col size="4">
                                <div class="barra">
                                    &nbsp;
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6"><app-covers-fs name="StarWars"></app-covers-fs></ion-col>
                            <ion-col size="6"><app-covers-fs name="TheSimpsons"></app-covers-fs></ion-col>
                        </ion-row>
                    </ion-grid>
                    </ion-slide>
                    <ion-slide>
                        <ion-grid style="margin-top: 0%;">
                            <ion-row style="margin-top: 0%;">
                                <ion-col offset="5" size="3" style="margin-top: 0%;">
                                    <div class="barra">
                                        &nbsp;
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6"><app-covers-fs name="Frozen"></app-covers-fs></ion-col>
                                <ion-col size="6"><app-covers-fs name="TheMandalorian"></app-covers-fs></ion-col>
                            </ion-row>
                        </ion-grid>
                        </ion-slide>
                        <ion-slide>
                            <ion-grid>
                                <ion-row>
                                    <ion-col offset="8" size="4">
                                        <div class="barra">
                                            &nbsp;
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="6"><app-covers-fs name="EndGame"></app-covers-fs></ion-col>
                                    <ion-col size="6"><app-covers-fs name="TheMandalorian"></app-covers-fs></ion-col>
                                </ion-row>
                            </ion-grid>
                            </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>


    

</ion-content>