<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Descargas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="EndGame"></app-publicard> 
      </ion-col>
      <ion-col size="6">EndGame</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="StarWars"></app-publicard> 
      </ion-col>
      <ion-col size="6">Star Wars</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="WandaVision"></app-publicard> 
      </ion-col>
      <ion-col size="6"> Bruja Escarlata y Visión</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="Mandalorian"></app-publicard> 
      </ion-col>
      <ion-col size="6"> Bruja Escarlata y Visión</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="LosSimpson"></app-publicard> 
      </ion-col>
      <ion-col size="6"> Los Simpson: La pelicula </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="EndGame"></app-publicard> 
      </ion-col>
      <ion-col size="6"> EndGame</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="EndGame"></app-publicard> 
      </ion-col>
      <ion-col size="6">EndGame</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="StarWars"></app-publicard> 
      </ion-col>
      <ion-col size="6">Star Wars</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="WandaVision"></app-publicard> 
      </ion-col>
      <ion-col size="6"> Bruja Escarlata y Visión</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="Mandalorian"></app-publicard> 
      </ion-col>
      <ion-col size="6"> Bruja Escarlata y Visión</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="LosSimpson"></app-publicard> 
      </ion-col>
      <ion-col size="6"> Los Simpson: La pelicula </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-publicard name="EndGame"></app-publicard> 
      </ion-col>
      <ion-col size="6"> EndGame</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
