
ion-title{
    --color: #fff !important;
}
//center elements
ion-col{
    display: flex !important;
    justify-content: center !important;
    align-items: left !important;
    flex-direction: column !important;
}